<div id="hero" class="hero route bg-image" style="background-image: url(assets/img/morena.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="hero-title mb-4">Morena Sandroni</h1>
          </div>
      </div>
    </div>
</div>
<body>
  <div class="buttons-network">
    
    <a
    class="buttons-network__button"
    href="https://www.facebook.com/moree.sandroni.9/"
    target="_blank"
  >
    <i class="fa-brands fa-facebook-f"></i>
    <span>Facebook</span>
    
  </a>
  <a
    class="buttons-network__button"
    href="https://www.instagram.com/moresandroni/"
    target="_blank"
  >
    <i class="fa-brands fa-instagram"></i>
    <span>Instagram</span>
  </a>
  <a
    class="buttons-network__button"
    href="https://www.whatsapp.com"
    target="_blank"
  >
    <i class="fa-brands fa-whatsapp"></i>
    <span>Whatsapp</span>
  </a>
  <a
    class="buttons-network__button"
    href="https://www.linkedin.com/in/morena-sandroni/"
    target="_blank"
  >
    <i class="fa-brands fa-linkedin-in"></i>
    <span>Linkedin</span>
  </a>
</div>
</body>