<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreH">Nombre</label>
                    <input type="text" class="form-control" id="nombreH" name="nombreH" [(ngModel)]="nombreH" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-dark">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>
