<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img [src]="persona.img" class="img-fluid rounded b-shadow-a">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="about-info">
                      <p><span class="title-s">Nombre: </span> <span>{{persona.nombre}}</span></p>
                      <p><span class="title-s">Apellido: </span> <span>{{persona.apellido}}</span></p>
                      <p><span class="title-s">Mail: </span> <span>{{persona.email}}</span></p>
                      <p><span class="title-s">Telefono: </span> <span>{{persona.telefono}}</span></p>
                    </div>
                    <div class="col-md-6">
                      <div class="about-me pt-4 pt-md-0">
                        <div class="title-box-2">
                          <h5 class="title-left">
                          Sobre mi
                          </h5>
                        </div>
                        <p class="lead">
                          {{persona.descripcion}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>