<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img [src]="mydata.imgMe" class="img-fluid rounded b-shadow-a">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nombre: </span> <span>{{mydata.name}}</span></p>
                      <p><span class="title-s">Perfil: </span> <span>{{mydata.profile}}</span></p>
                      <p><span class="title-s">Mail: </span> <span>{{mydata.email}}</span></p>
                      <p><span class="title-s">Telefono: </span> <span>{{mydata.mobile}}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skills</p>
                  <span>JAVA</span> <span class="pull-right"> {{mydata.abilities.JAVA}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>PYTHON</span> <span class="pull-right"> {{mydata.abilities.PYTHON}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS</span> <span class="pull-right"> {{mydata.abilities.CSS}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>HTML</span> <span class="pull-right"> {{mydata.abilities.HTML}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVA SCRIPT</span> <span class="pull-right"> {{mydata.abilities.JAVASCRIPT}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>SQL</span> <span class="pull-right"> {{mydata.abilities.SQL}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                     Sobre mi
                    </h5>
                  </div>
                  <p class="lead">
                    {{mydata.mydescription.one}}
                  </p>
                  <p class="lead">
                    {{mydata.mydescription.two}}
                  </p>
                  <p class="lead">
                    {{mydata.mydescription.three}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>