<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img [src]="persona.img" class="img-fluid rounded b-shadow-a">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nombre: </span> <span>{{persona.nombre}}</span></p>
                      <p><span class="title-s">Apellido: </span> <span>{{persona.apellido}}</span></p>
                      <p><span class="title-s">Mail: </span> <span>morenasandroni.b@gmail.com</span></p>
                      <p><span class="title-s">Telefono: </span> <span>2323368134</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>