#name {
    text-align: center;
  }
  
  div {
    padding: 15px;
    background-color: #f1f1f1;
  }
  
  #nombre {
    font-weight: bold;
  }
  
  .tittle {
    color: purple;
  }
  
  .blocktext {
    color: #0d0a0b;
  }